@import 'node_modules/susy/sass/susy';

@import 'reset';
@import 'mixins';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.banner {
  background-color: rgb(8, 65, 92);
  color: rgb(181, 255, 225);
  display: table;
  margin-bottom: 1.5rem;
  padding: .75rem .625rem;
  width: 100%;

  &__title {
    display: table-cell;
    font-family: 'Courgette', cursive;
    font-size: 1.25rem;
    letter-spacing: .2em;
    text-align: left;
    vertical-align: middle;
  }

  &__github {
    color: rgb(181, 255, 225);
    display: table-cell;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .875rem;
    text-align: right;
    vertical-align: middle;
  }
}

.url-form {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-left: .625rem;
  padding-right: .625rem;

  @media screen and (min-width: 640px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__label {
    color: rgb(8, 65, 92);
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 700;
    margin-bottom: .3125em;
    max-width: 100%;

    a {
      color: rgb(8, 65, 92);
    }
  }

  &__input-group {
    @include clearfix;
    display: block;
    width: 100%;
  }

  &__input {
    @include span(10 of 12);
    border: 2px solid rgb(221, 221, 221);
    color: rgb(85, 85, 85);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.25rem;
    padding: .375em .75em;
  }

  &__button {
    @include span(last 2 of 12);
    background-color: transparent;
    border: 2px solid rgb(56, 134, 151);
    color: rgb(56, 134, 151);
    cursor: pointer;
    font-size: 1rem;
    height: 2.25rem;
    padding: .375em .75em;

    &:hover {
      background-color: rgb(56, 134, 151);
      color: rgb(255, 255, 255);
    }
  }
}

.resizers {
  @include clearfix;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  padding-left: .625rem;
  padding-right: .625rem;

  @media screen and (min-width: 560px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__button {
    @include gallery(6 of 12);
    background-color: transparent;
    border: 2px solid rgb(204, 41, 54);
    color: rgb(204, 41, 54);
    cursor: pointer;
    font-size: .75rem;
    height: 2rem;
    margin-bottom: .3125rem;
    padding: .375em .75em;

    @media screen and (min-width: 560px) {
      @include gallery(3 of 12);
    }

    &:hover {
      background-color: rgb(204, 41, 54);
      color: rgb(255, 255, 255);
    }

    &--active {
      background-color: rgb(204, 41, 54);
      color: rgb(255, 255, 255);
    }
  }
}

.stage {
  border: 1px dashed rgb(204, 41, 54);
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
